# Build products
/eos-metrics-instrumentation
/tests/test-persistent-tally
/data/eos-metrics-instrumentation.conf
/geoclue.[ch]

# Backup files
*~
*.swp

# Test products
*.log
*.trs

# C extensions
*.o

# Autotools droppings
.deps
stamp*
*.stamp
.dirstamp
*.tar.*
*.pc
Makefile
Makefile.in
gtk-doc.make
data/eos-metrics-instrumentation.service
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/test-driver

# Unit test / coverage reports
*.gcda
*.gcno
/_coverage
