Source: eos-metrics-instrumentation
Section: misc
Priority: standard
Maintainer: Endless OS Team <maintainers@endlessos.org>
Build-Depends:
	debhelper-compat (= 13),
	eos-metrics-0-dev (>= 0.3.0),
	libflatpak-dev,
	libglib2.0-dev,
	libgtop2-dev,
	libjson-glib-dev,
	libostree-dev,
	dh-autoreconf,
	python3-dbus,
	python3-dbusmock,
	util-linux (>= 2.32),

Package: eos-metrics-instrumentation
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	systemd (>= 200),
	util-linux (>= 2.32),
Description: Metrics instrumentation for Endless OS
 This package contains system and session daemons
 that record metrics using data collected from
 DBus.
