Source: eos-metrics-instrumentation
Section: misc
Priority: standard
Maintainer: Kurt von Laven <kurt@endlessm.com>
Build-Depends: debhelper (>= 9),
	autotools-dev,
	eos-metrics-0-dev,
	eos-sdk-0-dev (>= 0.0.0),
	geoclue-2.0,
	libglib2.0-dev,
	dh-autoreconf,
	dh-systemd

Package: eos-metrics-instrumentation
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	geoclue-2.0,
	systemd (>= 200)
Description: Metrics instrumentation for EndlessOS
 This package contains system and session daemons
 that record metrics using data collected from
 DBus.
